{
  "extends": "standard",
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "unicode-bom": ["error", "never"],
    "eol-last": ["error", "always"],
    "semi": ["error", "never"],
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": ["error", { "max": 1, "maxBOF": 0, "maxEOF": 0 }],
    "no-undef": "error",
    "no-console": "error",
    "no-var": "error"
  }
}
